<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script>
        $(document).ready(function () {
            let data = [{
                    id: 1,
                    name: "Bus",
                    status: "Online"
                },
                {
                    id: 2,
                    name: "Bus",
                    status: "Offline"
                }
            ];
            data.forEach(element => {

                if (element.status == "Online") {
                    $('.device_list>tbody').append(
                        "<tr>" +
                        "<td>" + element.id + "</td>" +
                        "<td>" + element.name + "</td>" +
                        "<td> <i class='fa fa-wifi text-success' aria-hidden='true'></i></td>" +
                        "</tr>"
                    );
                } else {
                    $('.device_list>tbody').append(
                        "<tr>" +
                        "<td>" + element.id + "</td>" +
                        "<td>" + element.name + "</td>" +
                        "<td> <i class='fa fa-wifi text-danger' aria-hidden='true'></i></td>" +
                        "</tr>"
                    );
                }
            });

        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>Column
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-md-3">
                <table class="table device_list">
                    <thead>
                        <tr>
                            <th>Device ID</th>
                            <th>Device Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9">
                sadasd
            </div>
        </div>
    </div>
</body>

</html>