<!DOCTYPE html>
<html lang="en">

<head>
    <title>EdgeConnect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3RwBupXyFdul5XtIAWjDsF9f8ogyLam4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>




    <style>
        small {
            font-size: xx-small;
            flex-wrap: wrap;
            text-align: center;

        }

        #custom {
            text-align: center;
            background-color: white;
            color: rgb(92, 4, 4);
            font-weight: bold;
            border-width: 20px;
            height: 52px;
            border-color: tomato;
            background-color: whitesmoke;
        }
    </style>

    <script>
        var countLtv = 0;
        var countHtv = 0;
        var countStatic = 0;
        var countTotal = 0;
        var countOnline = 0;

        function myMap() {
            var mapProp = {
                center: new google.maps.LatLng(33.6844, 73.0479),
                zoom: 5,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var markers = [];

            setInterval(function () {

                $.get("/telemeteryData", function (data, status) {
                    markers.forEach(element => {
                        element.setMap(null);
                    });
                    markers = [];

                    var data = JSON.parse(data);
                    data.forEach(element => {
                        var pos = {
                            lat: element.lat,
                            lng: element.lng
                        };
                        var marker = new google.maps.Marker({
                            position: pos,
                            map: map,

                            title: "Show " + element.imei

                        });

                        markers.push(marker);
                    });
                });
            }, 3000);
        }


        $(document).ready(function () {
            myMap();

            setInterval(function () {
                $.get("/deviceList", function (data, status) {
                    $('.device_list>tbody').empty();
                    countStatic = countHtv = countLtv = 0
                    countOnline = countTotal = 0;
                    var parseData = JSON.parse(data);
                    parseData.forEach(element => {
                        countTotal = countTotal + 1;
                        if (element.status == 'online') {
                            countOnline = countOnline + 1;
                        }
                        if (element.type == 'LTV') {
                            countLtv = countLtv + 1;
                        }
                        if (element.type == 'HTV') {
                            countHtv = countHtv + 1;
                        }
                        if (element.type == 'static') {
                            countStatic = countStatic + 1;
                        }
                        if (element.status == "online") {
                            $('.device_list>tbody').append(
                                "<tr>" +
                                "<td> <small>" + element.imei +
                                "</small> </td>" +
                                "<td> <small>" + element.name +
                                "</small> </td>" +
                                "<td> <small><i class='fa fa-wifi text-success' aria-hidden='true'></i>" +

                                (new Date(element.timeStamp)).toString()
                                .slice(0,
                                    21) +
                                "</small></td>" +
                                "</tr>"
                            );
                        } else {
                            $('.device_list>tbody').append(
                                "<tr>" +
                                "<td> <small>" + element.imei +
                                "</small> </td>" +
                                "<td> <small>" + element.name +
                                "</small> </td>" +
                                "<td> <small><i class='fa fa-wifi text-danger' aria-hidden='true'></i>" +

                                (new Date(element.timeStamp)).toString()
                                .slice(0,
                                    21) +
                                "</small></td>" +
                                "</tr>"
                            );
                        }
                    });
                });

                var x = document.getElementById('totalDevices');
                x.textContent = countTotal;
                var x = document.getElementById('onlineDevices');
                x.textContent = countOnline;
                var x = document.getElementById('offlineDevices');
                x.textContent = countTotal - countOnline;
                var x = document.getElementById('events');
                x.textContent = 5
                //chart
                google.charts.load('current', {
                    'packages': ['corechart']
                });
                google.charts.setOnLoadCallback(drawChart);

                // Draw the chart and set the chart values
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['asset', 'qty'],
                        ['HTV', countHtv],
                        ['LTV', countLtv],
                        ['Static', countStatic],
                    ]);

                    // Optional; add a title and set the width and height of the chart
                    var options = {
                        'width': 550,
                        'height': 400
                    };

                    // Display the chart inside the <div> element with id="piechart"
                    var chart = new google.visualization.PieChart(document.getElementById(
                        'piechart'));
                    chart.draw(data, options);
                }
            }, 3000);


        });
    </script>
    <script>
        $(document).ready(function () {
            $.get("/8615336030196003", function (data, status) {
                dataDevice = JSON.parse(data);
                console.log(dataDevice)
            });

        });
    </script>
    <script>
        $(document).ready(function () {
            var ctx = document.getElementById("myChart").getContext("2d");

            var data = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56, 55, 40]
                }, {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }]
            };
            var options = {
                animation: false,
                //Boolean - If we want to override with a hard coded scale
                scaleOverride: true,
                //* Required if scaleOverride is true *
                //Number - The number of steps in a hard coded scale
                scaleSteps: 10,
                //Number - The value jump in the hard coded scale
                scaleStepWidth: 10,
                //Number - The scale starting value
                scaleStartValue: 0
            };

            var myLineChart = new Chart(ctx).Line(data, options);

            setInterval(function () {
                setData(data.datasets[0].data);
                setData(data.datasets[1].data);
                setLabels(data.labels);

                var myLineChart = new Chart(ctx).Line(data, options);
            }, 2000);

            function setLabels(labels) {
                var nextMonthIndex = months.indexOf(labels[labels.length - 1]) + 1;
                var nextMonthName = months[nextMonthIndex] != undefined ? months[nextMonthIndex] : "January";
                labels.push(nextMonthName);
                labels.shift();
            }

            function setData(data) {
                data.push(Math.floor(Math.random() * 100) + 1);
                data.shift();
            }

            function convertMonthNameToNumber(monthName) {
                var myDate = new Date(monthName + " 1, 2016");
                var monthDigit = myDate.getMonth();
                return isNaN(monthDigit) ? 0 : (monthDigit + 1);
            }

            var months = ["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
            ];

        });
    </script>
    <script>
        // Create a client instance
        var hostname = "broker.mqttdashboard.com";
        var port = 8000;
        client = new Paho.MQTT.Client(hostname, port, "clientId");

        // set callback handlers
        client.onConnectionLost = onConnectionLost;
        client.onMessageArrived = onMessageArrived;

        // connect the client
        client.connect({
            onSuccess: onConnect
        });


        // called when the client connects
        function onConnect() {
            // Once a connection has been made, make a subscription and send a message.
            console.log("onConnect");
            client.subscribe("edgeconnect/telemetery");
            message = new Paho.MQTT.Message("Hello");
            message.destinationName = "World";
            client.send(message);
        }

        // called when the client loses its connection
        function onConnectionLost(responseObject) {
            if (responseObject.errorCode !== 0) {
                console.log("onConnectionLost:" + responseObject.errorMessage);
            }
            client.connect({
                onSuccess: onConnect
            });
        }

        // called when a message arrives
        function onMessageArrived(message) {
            console.log("onMessageArrived:" + message.payloadString);
        }
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="height: 353px; overflow: auto">
                <table class="table device_list" style="text-orientation: upright;text-align: center;">
                    <thead class="thead-dark">
                        <tr>
                            <th>IMEI</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <div id="custom" class="row">
                    <div class="col-md-3">
                        <div id="custom">
                            <div class="panel-heading">Total Devices</div>
                            <div id="totalDevices" class="panel-body"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="custom">
                            <div class="panel-heading">Online</div>
                            <div id="onlineDevices" class="panel-body"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="custom">
                            <div class="panel-heading">Offline</div>
                            <div id="offlineDevices" class="panel-body"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="custom">
                            <div class="panel-heading">Events</div>
                            <div id="events" class="panel-body"></div>
                        </div>
                    </div>
                </div>
                <div id="googleMap" style="width:100%;height:300px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="piechart"></div>
            </div>
            <div class="col-md-8">
                <canvas id="myChart" height="320" width="930"></canvas>
            </div>
        </div>

    </div>
</body>

</html>